.contact-bar {
    float: left;
    height: 100px;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: end;
    background-color: #AEC9F6;
}

img {
    float: right;
    margin-right: 3%;
}

.tiktok-icon, .youtube-icon, .fb-icon, .email-icon {
    margin-top: .5em;
}

@media (max-width: 768px){
    .contact-bar {
        width: 500px;
        height: 150px;
    }

    img {
        float: none;
        margin: 6%;
        margin-bottom: 2%;
    }

    .contact-icons {
        margin: 0 auto;
    }
    
    .email-icon {
        margin-top: 4%;
        margin-bottom: 4%;
    }
}