.contact-bar {
    float: left;
    margin-top: 0%;
    height: 75px;
    width: 100%;
    margin-bottom: 5%;
    justify-content: end;
    background-color: #AEC9F6;
}

.contact-icons {
    min-height: 100%;
    display: block;
}


img {
    float: right;
    margin-right: 3%;
}

.tiktok-icon, .fb-icon, .email-icon {
    margin-top: 1.5em;
    margin-bottom: .1em;
}

.youtube-icon {
    margin-top: 2em;
}



@media (max-width: 768px){
    .contact-bar {
        min-height: 7%;
    }

    img {
        width: 10%;
        height: 10%;
        float: none;
        margin: 5%;
        margin-top: 0%;
        margin-bottom: 2%;
    }

    .contact-icons {
        margin: 0 auto;

    }
}