<div class="contact-bar row">
        <div class="icons mt-5 mb-md-0">
                <a href="mailto:khepra.ptah@gmail.com" target="_blank"><img class="icon email-icon" src="/assets/email-icon.png" alt="email icon"></a>
                <a href="https://www.tiktok.com/@khepra_ptah360"><img class="icon tiktok-icon" src="/assets/tiktok-icon.png" alt="tiktok icon"></a>
                <a href="https://www.youtube.com/@KHMWST"><img class="icon youtube-icon" src="/assets/youtube-icon.png" alt="youtube icon"></a>
                <a href="https://www.facebook.com/khepra.ptah"><img class="icon fb-icon" src="/assets/facebook-icon.png" alt="facebook icon"></a>
        </div> 
</div>