<div class="contact-bar container-fluid">
    <div class="contact-icons">
        <a class="icon" href="mailto:khepraptah5@gmail.com" target="_blank"><img class="icon email-icon" src="/assets/email-icon.png" alt="email icon"></a>
        <a class="icon" href="https://www.tiktok.com/@khepra_ptah360" target="_blank"><img class="icon tiktok-icon" src="/assets/tiktok-icon.png" alt="tiktok icon"></a>
        <a class="icon" href="https://www.youtube.com/@Kptah360" target="_blank"><img class="icon youtube-icon" src="/assets/youtube-icon.png" alt="youtube icon"></a>
        <a class="icon" href="https://www.facebook.com/khepra.ptah" target="_blank"><img class="icon fb-icon" src="/assets/facebook-icon.png" alt="facebook icon"></a>
    </div> 
</div>