<div class="d-flex flex-column">
  <br><br>
  <svg viewBox="0 0 30 4" xmlns="http://www.w3.org/2000/svg">
    <path id="MyPath" fill="none" d="M 0 5 Q 15 -5 30 5" pathLength="2" />
    <text class="headding is-1" font-size="2" dominant-baseline="hanging" text-anchor="middle">
      <textPath href="#MyPath" startOffset="1">
        About the Work
      </textPath>
    </text>
  </svg>
  <div id="about-section">
    <img class="about-img" src="/assets/TODO" alt="TODO">
    <p class="about-paragraph"> TODO</p>
  </div>
</div>
