<!-- This file contains the HTML for the About page -->
<app-nav></app-nav>
<app-contact-bar></app-contact-bar>
<div class="container-fluid">
  <svg viewBox="0 0 30 4" xmlns="http://www.w3.org/2000/svg">
    <path id="MyPath" fill="none" d="M 0 5 Q 15 -2 30 5" pathLength="2" />
    <text class="headding is-1" font-size="1.8" dominant-baseline="hanging" text-anchor="middle">
      <textPath href="#MyPath" startOffset="1">
        About the Work
      </textPath>
    </text>
  </svg>
  <div class="about-section">
    <img class="about-img" src="/assets/about-img.png" alt="O.I.D.I.S.I IFA priest of Shango stands in nature wearing african clothes">
    <p class="about-paragraph">Khepra Ptah was introduced to the Yoruba tradition in the 90s. He holds his Masters in Education from Goddard College. Khepra received his Warriors (Esu, Ochoosi, and Ogun) in 2002. In 2012 he received Osayin, a year later he was initiated into IFA in the Fayemi lineage. Khepra also has been attuned as a Reiki Master since 21 years old. He offers classes and lectures.</p>
  </div>
  <!-- <div class="testimonials-section">
    <hr class="testimonials-break">
    <h2>Testimonials</h2>
    <div class="testimonials-container row">
      <div class="testimonial1">
        <h4>Masterful Teacher</h4>
        <p><span class="quote-mark"><i>"</i></span> ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio mi, vehicula ut dignissim a, fringilla molestie lorem. Aenean eleifend sem non turpis ullamcorper, ac dapibus elit lobortis.<span class="quote-mark"><i>"</i></span></p>
        <span>- Many Students</span>
      </div>
      <div class="testimonial2">
        <h4>Full of Good Vibes and Energy</h4>
        <p><span class="quote-mark"><i>"</i></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio mi, vehicula ut dignissim a, fringilla molestie lorem. Aenean eleifend sem non turpis ullamcorper, ac dapibus elit lobortis. <span class="quote-mark"><i>"</i></span></p>
        <span>- A Colleague </span>
      </div>
      <div class="testimonial3 col">
        <h4>Wonderful</h4>
        <p><span class="quote-mark"><i>"</i></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio mi, vehicula ut dignissim a, fringilla molestie lorem. Aenean eleifend sem non turpis ullamcorper, ac dapibus elit lobortis. <span class="quote-mark"><i>"</i></span></p>
        <span>- Aborisha</span>
      </div>
    </div>
  </div> -->
  <div class="footer-img">
    <img src="/assets/footer-img.png" />
  </div>
</div>
<app-footer></app-footer>