<div class="d-flex flex-column">
  <br><br>
  <svg viewBox="0 0 30 4" xmlns="http://www.w3.org/2000/svg">
    <path id="MyPath" fill="none" d="M 0 5 Q 15 -5 30 5" pathLength="2" />
    <text class="headding is-1" font-size="2" dominant-baseline="hanging" text-anchor="middle">
      <textPath href="#MyPath" startOffset="1">
        About the Work
      </textPath>
    </text>
  </svg>
  <div id="about-section">
    <img class="about-img" src="/assets/about-img.png" alt="O.I.D.I.S.I IFA priest of Shango stands in nature wearing african clothes">
    <p class="about-paragraph"> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam justo quam, sagittis sed neque ut, cursus cursus mi. Morbi et dui ac metus suscipit condimentum. Nulla quis pulvinar leo, eget tempor ex. Vivamus iaculis magna a dui molestie ultrices. </p>
  </div>
  <div class="testimonials-section">
    <h2>Testimonials</h2>
    <div class="testimonials-container row">
      <div class="testimonial1">
        <h4>Masterful Teacher</h4>
        <p>TEXT1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio mi, vehicula ut dignissim a, fringilla molestie lorem. Aenean eleifend sem non turpis ullamcorper, ac dapibus elit lobortis.</p>
        <span>- Many Students</span>
      </div>
      <div class="testimonial2">
        <h4>Full of Good Vibes and Energy</h4>
        <p>TEXT2Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio mi, vehicula ut dignissim a, fringilla molestie lorem. Aenean eleifend sem non turpis ullamcorper, ac dapibus elit lobortis.</p>
        <span>- A Colleague </span>
      </div>
      <div class="testimonial3 col">
        <h4>Wonderful</h4>
        <p>TEXT3Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio mi, vehicula ut dignissim a, fringilla molestie lorem. Aenean eleifend sem non turpis ullamcorper, ac dapibus elit lobortis.</p>
        <span>- Aborisha</span>
      </div>
    </div>
  </div>
</div>
