/* This file contains the styles for the About page */
svg {
    display: block;
    margin: 0 auto;
    margin-bottom: 7%;
    max-height: 200px;
    width: 100%;
}

.headding {
    fill: #022C70;
    font-family: "Marcellus", serif;
}

path {
    fill: transparent;
}

.about-section { 
    padding: 0px;
    margin-top: 1%;
    margin-bottom: 10%; 
}

.about-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    object-fit:contain;
    width:55%;
    height: 400px;
    display: block;
}

.about-paragraph {
    color: black;
    background-color: white;
    border: 2px solid #022C70;
    border-radius: 25px;
    padding: 20px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-size: 20px;
    font-family: "Lateef", serif;
}

h2 {
    font-size: 40px;
    font-family: "Marcellus", serif;
}

.testimonials-section {
    margin: 0 auto;
    margin-top: 5%;
    width: 75%;
}

.testimonials-break {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10%;
    color:#022C70;
}

.testimonials-container {
    max-width: 100%;
    padding: 2%;
}

h4 {
    color: #022C70;
    font-family: "Marcellus", serif;
}

p { text-align: center;}

.quote-mark {
        color: #022C70;
    font-family: "Marcellus", serif;
    font-size: 35px;
}

.testimonial1, .testimonial2 {
    max-width: 50%;
    padding: 2%;
    font-family: "Gudea", sans-serif;
}

.testimonial3 {
    max-width: 75%;
    margin: 0 auto;
    font-family: "Gudea", sans-serif;
}

.footer-img {
    margin: 1%;
}

@media (max-width: 768px){
    svg {
        margin: 0 auto;
        margin-left: 15%;
        margin-bottom: 1%;
    }

    .about-section {
        margin-left: 24%;
    }

    img {
        max-width: 100%;
        max-height: 150px;
    }

    .testimonials-container {
        min-width: 100%;
        margin-left: 15%;
    }

    .testimonial1, .testimonial2, .testimonial3 {
        min-width: 100%;
        margin-top: 5%;
    }

    .testimonials-container {
        margin-left: 15%;
        min-width: 100%;
    }

    h2 {
        margin-top: 15%;
        margin-bottom: 5%;
        margin-left: 31%;;
    }

    .testimonial3 {
        margin-top: 8%;
    }

    .footer-img {
        margin-left: 30%;
    }
}