<app-nav></app-nav>
<app-contact-bar></app-contact-bar>
<div class="container-fluid">
  <div class="title">
    <svg viewBox="0 0 30 4" xmlns="http://www.w3.org/2000/svg">
      <path id="MyPath" fill="none" d="M 0 5 Q 15 -2 30 5" pathLength="2" />
      <text class="headding is-1" font-size="2" dominant-baseline="hanging" text-anchor="middle">
        <textPath href="#MyPath" startOffset="1">
        History
        </textPath>
      </text>
    </svg>
  </div>
  <div class="history-section">
    <img class="history-img" src="/assets/history-img.png" alt="Man throws up a peace sign">
    <p class="history-paragraph"> 
      Khepra received his Warriors in 2002. In 2012 he received Osayin, a year later he was initiated into IFA in the Fayemi lineage. Khepra also has been attuned as a reiki Master since 21 years old. He offers classes and lectures.  </div>
  <div class="footer-img">
    <img src="/assets/footer-img.png" />
  </div>  
</div>
<app-footer></app-footer>