<div class="container-fluid">
  <div class="header">
    <h1>Connect with Khepra</h1>
  </div>
  <div class="contact-info">
    <div class="icons row">
      <a class="yt-icon" href="https://www.youtube.com/@Kptah360"><img class="icon" src="/assets/youtube.png" alt="youtube link"></a>
      <a class="email-icon" href="mailto:khepraptah5@gmail.com" target="_blank"><img class="icon" src="/assets/email.png" alt="email link"></a>
      <a class="tiktok-icon" href="https://www.tiktok.com/@khepra_ptah360"><img class="icon" src="/assets/tiktok.png" alt="tiktok link"></a>
      <a class="fb-icon" href="https://www.facebook.com/khepra.ptah"><img class="icon" src="/assets/facebook.png" alt="facebook link"></a>
    </div>
  </div>
  <h3 class="phone-no">Call or Text (206)-289-0474</h3>

  <div class="footer-img">
    <img src="/assets/footer-img.png" />
  </div>  
</div>