h1  {
    margin-top: 5%;
}

.dash {
    margin-bottom: 5%;
}

.icons img {
    height: 65px;
}

.tiktok-icon, .yt-icon  {
    margin-bottom: 2%;;
}

 .email-icon {
    margin-bottom: 2%;
}

h3 {
    margin: 2%;
}