<div class="container-fluid">
  <div class="header">
    <h1>Connect with Khepra</h1>
  </div>
  <div class="contact-info">
    <div class="icons row">
      <a class="yt-icon" href="https://www.youtube.com/@KHMWST"><img class="icon" src="/assets/youtube.png" alt="youtube icon"></a>
      <a class="icon email-icon" href="mailto:khepraptah5@gmail.com" target="_blank"><img class="icon" src="/assets/email.png" alt="email icon"></a>
      <a class="tiktok-icon" href="https://www.tiktok.com/@khepra_ptah360"><img class="icon" src="/assets/tiktok.png" alt="tiktok icon"></a>
      <a class="fb-icon" href="https://www.facebook.com/khepra.ptah"><img class="icon" src="/assets/facebook.png" alt="facebook icon"></a>
      <h3>Call or Text (206)-289-0474</h3>
    </div>
  </div>
  <div class="footer-img">
    <img src="/assets/footer-img.png" />
  </div>  
</div>