
  <h1 class="intro">Connect with Khepra</h1>
  <div class="dash row">
    <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <linearGradient id="gboth">
          <stop offset="0%" stop-color="black"/>
          <stop offset="10%" stop-color="white"/>
          <stop offset="90%" stop-color="white"/>
          <stop offset="100%" stop-color="black"/>
        </linearGradient>
        
        <mask id="mboth">
          <rect width="1" height="1" fill="url(#gboth)"/>
        </mask>
    
        <symbol id="both" viewBox="0 0 1 1" preserveAspectRatio="none">
          <rect width="1" height="1" fill="currentColor" mask="url(#mboth)"/>
        </symbol>
      </defs>
    </svg>
    <svg viewBox="0 0 1 1" preserveAspectRatio="none" class="sep three">
      <use xlink:href="#both"/>
    </svg>
  </div>
  <div class="contact-info">
    <div class="icons row">
      <a class="yt-icon" href="https://www.youtube.com/@KHMWST"><img class="icon" src="/assets/youtube.png" alt="youtube icon"></a>
      <a class="icon email-icon" href="mailto:khepra.ptah@gmail.com" target="_blank"><img class="icon" src="/assets/email.png" alt="email icon"></a>
      <a class="tiktok-icon" href="https://www.tiktok.com/@khepra_ptah360"><img class="icon" src="/assets/tiktok.png" alt="tiktok icon"></a>
      <a class="fb-icon" href="https://www.facebook.com/khepra.ptah"><img class="icon" src="/assets/facebook.png" alt="facebook icon"></a>
      <h3>Call or Text (555)-555-5555</h3>
    </div>
  </div>
  <div class="footer-img">
    <img src="/assets/footer-img.png" />
  </div>
  
