nav {
    max-height: 3.5em;

}

.collapse {
    background-color: #F8F9FA;
    min-width: 100%;
}

.text-button {
    border: none;
    background: none;
    padding: 5%;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
  }