nav {
    min-width: 100%;
    max-height: 3.5em;
    margin-bottom: 0%;
}

.collapse {
    background-color: #F8F9FA;
    max-width: 88.56%;
}

/* This page contains the styles for the application's Navbar */
.text-button {
    border: none;
    background: none;
    padding: 5%;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Lateef", serif;
}

a:visited {
    color: black;
  }

@media (max-width: 768px) {
    nav {
        max-width: 100%;
        margin: 0%;
    }
}

@media (min-width: 576px) {
    nav {
        min-width: 576px;
    }
}