<!-- nav -->
<mat-toolbar color="#ffffff">
    <div class="nav">
        <button><a routerLink="/" routerLinkActive="active"><img id="nav-brand" src="/assets/introduction.png"></a></button>
        <button class="text-button"><a routerLink="/about" routerLinkActive="active">About</a></button>
        <button class="text-button"><a routerLink="/history" routerLinkActive="active">History</a></button>
        <button class="text-button"><a routerLink="/appointments" routerLinkActive="active">Appointments</a></button>
        <button class="text-button"><a routerLink="/contact" routerLinkActive="active">Contact</a></button>
    </div>
</mat-toolbar>
