<div class="container-fluid">
  <div class="title">
    <svg viewBox="0 0 30 4" xmlns="http://www.w3.org/2000/svg">
      <path id="MyPath" fill="none" d="M 0 5 Q 15 -2 30 5" pathLength="2" />
      <text class="headding is-1" font-size="2" dominant-baseline="hanging" text-anchor="middle">
        <textPath href="#MyPath" startOffset="1">
          IFA Work
        </textPath>
      </text>
    </svg>
  </div>
  <div class="primary-img-section row">
    <img class="primary-img" src="/assets/ifa-main-img.png" alt="An IFA priest of Shango stands imposed against a transparent background of nature">
  </div>
  
  <div class="ifa-section">
    <p class="ifa-paragraph"> 
      As Ifalowo, Khepra has a unique teaching style which draws in students with songs, stories, and methods of divination. The student will learn quickly because Khepra Ptah is a patient teacher, a thorough practitioner, and encourages his students to be hands-on participants. As a diviner Khepra will not only provide the tools, but also a clear understanding about the Why, the What, and the How.  </div>
  
  <div class="secondary-img-section row">
    <hr class="secondary-img-break">
    <img class="secondary-img" src="/assets/ifa-secondary-img.png" alt="An IFA priest of Sango sits at the mat with his ikin marking an Opon tray">
  </div>
  
  <ul class="service-list">
    <h2>IFA Services</h2>
        <li>IFA/Orisha Readings<span class="ifa-readings">Khepra’s IFA readings guide his clients in aligning with their destiny. He provides support and follow up as well as the prescribed spiritual remedy.</span></li>
        <li>Spiritual Baths & Soaps <span class="baths-soaps">Khepra’s spiritually charged soaps attract wealth and protection. They also clear away negative energy from the body and aura.</span></li>
        <li>House Cleaning<span class="cleaning">Khepa provides wall cleansing in the home to establish positive vibrations and remove negative energies. </span></li>
        <li>Spiritual Rites and Initiation Rituals<span class="rites">Khepra conducts naming ceremonies (Esentaye), receiving warriors, and initiations. <br>(A consultation is required before initiation)</span></li>
        <li>Community Classes and Workshops<span class="community">Khepra arranges ancestral masquerades (Egungun), regularly hosts Egun ceremonies/Orisha song classes, and holds workshops.</span></li><br>
  </ul>
  <div class="footer-img">
    <img src="/assets/footer-img.png" />
  </div>
</div>



