/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
    margin: 0;
    padding: 0;
  }

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    height: 100vh;
  } 

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(#fff 60%, #0DD6F1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: black;
    font-family: "Gudea", sans-serif;
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px; 
    display:flex; 
    flex-direction:column;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
.container {
    min-width: 100%;
}

h1 {
    display: block;
    margin-top: 20%;
    text-align: center;
    color: #0DD6F1;    
    font-family: "Hammersmith One", sans-serif;
    text-shadow: 2px 2px 2px #aaa;
}

h2 {
    display: block;
    text-align: center;
    color: black;
    font-family: "Gudea", sans-serif;
}

h3 {
    display: block;
    text-align: center;
    color: black;
    font-family: "Gudea", sans-serif;
}

.dash {
    margin: 0 auto;
    height: 10%;
    width: 100%;
}

path {
    fill: transparent;
}

svg.sep {
    margin: 0 auto;
    width: 15%;
    height: 2px;
}

.three {
    color: #0DD6F1;
}

.error-image {
    display: block;
    margin: 0 auto;
    height: 20%;
    max-width: 70%;
    box-shadow: 5px 10px 18px #888888;
}
