.headers {
    text-align: center;
    display: block;
    justify-content: center;
    width: 100%;
    height: 15%;
}

svg {
    display: block;
    margin: 0 auto;
    height: 100%;
}

.headding {
    display: block;
    fill: #0DD6F1;
}

.subtitle {
    fill: black;
    display: block;
    height: 100%;
}

.highlight {
    display: block;
    height: 25%;
}

path {
    fill: transparent;
}

.introduction-img {
    display: block;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 10%;
}

.intro-row {
    height: 25%;
}

img {
    margin: 0 auto;
    margin-top: 15%;
    display: block;
    height: 200px;
}