
<div class="col">
  <br><br>
  <div class="headers row">
    <div class="main-title row">
      <svg viewBox="0 0 30 2.85" xmlns="http://www.w3.org/2000/svg">
        <path id="MyPath" fill="none" d="M 0 6 Q 14 -5 30 5" pathLength="2" />
        <text class="headding is-4" font-size="2" dominant-baseline="hanging" text-anchor="middle">
          <textPath href="#MyPath" startOffset="1">
            Khepra Ptah
          </textPath>
        </text>
      </svg>
    </div>
    <div class="subtitle row">
      <svg viewBox="0 0 30 2" xmlns="http://www.w3.org/2000/svg">
        <path fill="none" d="M 0 5 Q 15 -5 30 5" pathLength="2" />
        <text class="title is-4" font-size="1" dominant-baseline="hanging" text-anchor="middle">
          <textPath href="#MyPath" startOffset="1">
            Reiki Master | Babalawo
          </textPath>
        </text>
      </svg>
    </div>
  </div>
  <!-- <div class="intro-row row">
    <img class="introduction-img" src="/assets/introduction.png" alt="TODO">
  </div> -->
</div>