.headers {
    text-align: center;
    display: block;
    justify-content: center;
    width: 100%;
    height: 220px;
    margin-top: 3%;
    margin-bottom: 2%;
}

svg {
    display: block;
    margin: 0 auto;
}

.main-svg {
    height: 200px;
    margin-bottom: 0%;
}

.secondary-svg {
    height: 95px;
    margin-top: 0%;
}

.headding {
    display: block;
    fill: #022C70;
    font-family: "Marcellus", serif;
}

.subtitle {
    fill: #4E8DF2;
    display: block;
    font-family: "Quicksand", sans-serif;
}

path {
    fill: transparent;
}

.intro-row {
    margin: 0 auto;
}

.introduction-img {
    object-fit: contain;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 10%;
    height: 650px;
}

@media (max-width: 768px){
   svg {
    margin-bottom: 1em;
   }
    
    .headers {
        margin: 0 auto;
        height: 50px;
    }

    .intro-row {
        margin-top: 2%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* webkit specific CSS */
    svg { height: 250px; }
}