.header {
    text-align: center;
    display: block;
    justify-content: center;
    min-width: 100%;
    min-height: 100px;
}

.main-svg {
    height: 180px;
    margin-bottom: 0%;
}

.headding {
    display: block;
    fill: #022C70;
    font-family: "Marcellus", serif;
}

path {
    fill: transparent;
}

.intro-row {
    display: inline-block;
    margin: 0 auto;
    min-width: 100%;
    min-height: 100px;
}

.introduction-img {
    display: inline-block;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 2%;
    height: 650px;
}

.subtitle {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10%;
    height: 150px; 
}

.secondary-svg {
    display: inline-block;
    height: 300px;
}

.rocker {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10%;
    fill: #4E8DF2;
    font-family: "Quicksand", sans-serif;
}

@media (max-width: 768px){
   svg {
    max-width: 100%;
    max-height: 100px;
    margin-left: 15%;
    margin: 0 auto;
   }

   .headers {
        margin: 0 auto;
        margin-left: 15%;
    }

    .main-svg {
        margin-bottom: .1em;
    }

    div.intro-row {
        min-width: 100%;
        margin-left: 15%;
    }

    div.intro-row {
        margin: 0 auto;
    }

    img {
        max-height: 300px;
    }

    svg.secondary-svg {
        max-height: 40px;
        margin-bottom: 1%;
   }
}