<div class="container-fluid">
  <svg viewBox="0 0 30 4" xmlns="http://www.w3.org/2000/svg">
    <path id="MyPath" fill="none" d="M 0 5.3 Q 15 -2 30 5" pathLength="2" />
    <text class="headding is-1" font-size="2" dominant-baseline="hanging" text-anchor="middle">
      <textPath href="#MyPath" startOffset="1">
        Reiki Practice
      </textPath>
    </text>
  </svg>
  <div class="primary-img-section row">
    <img class="primary-img" src="/assets/reiki-main-img.png" alt="An O.I.D.S.I. IFA priest of Shango stands in nature">
  </div>
  <div class="reiki-section">
    <p class="reiki-paragraph"> 
      Khepra is a master of both Usui and Shekem Reiki. He uses Shekem, an ancient Egyptian form energetic healing combined with Reiki to act as a powerful healing modality. His Reiki treatments are helpful for dealing with physical ailments as well as emotional trauma.  </div>
  <div class="secondary-img-section row">
    <hr class="secondary-img-break">
    <img class="secondary-img" src="/assets/reiki-secondary-img.png" alt="An O.I.D.S.I. IFA Priest of Shango stands in nature holding an iroke">
  </div>
  <ul class="service-list">
    <h2>Reiki Services</h2>
        <li>Personal Healing Sessions<span class="sessions">Reiki brings balance to the physical and the emotional parts of a person’s being. Many of our ailments begin on an emotional level. One-on-One Reiki sessions help remove energetic distortions before they manifest as physical conditions.</span></li>
        <li>Healing Circles<span class="baths-soaps">Healing circles are a beautiful way to create spiritual and energetic participation in a group. There is a reciprocal relationship between receiving and giving Reiki during a session.</span></li>
        <li>Attunements<span class="cleaning">Khepra will attune you as a Reiki practitioner. He is well versed in all 3 levels, Level 1 Healer  (hands on healing), Level 2 Healer (emotional body and long distance healing), and Level 3 Master (ability to attune others).</span></li>
  </ul>
  <div class="footer-img">
    <img src="/assets/footer-img.png" />
  </div>
</div>