<svg viewBox="0 0 30 4" xmlns="http://www.w3.org/2000/svg">
    <path id="MyPath" fill="none" d="M 0 5 Q 15 -5 30 5" pathLength="2" />
    <text class="headding is-1" font-size="2" dominant-baseline="hanging" text-anchor="middle">
      <textPath href="#MyPath" startOffset="1">
        Reiki
      </textPath>
    </text>
  </svg>

  <div class="primary-img-section row">
    <img class="primary-img" src="/assets/reiki-main-img.png" alt="An O.I.D.S.I. IFA priest of Shango stands in nature">
  </div>

  <div class="reiki-section">
    <p class="reiki-paragraph"> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam justo quam, sagittis sed neque ut, cursus cursus mi. Morbi et dui ac metus suscipit condimentum. Nulla quis pulvinar leo, eget tempor ex. Vivamus iaculis magna a dui molestie ultrices. </p>
  </div>

  <div class="secondary-img-section row">
    <img class="secondary-img" src="/assets/reiki-secondary-img.png" alt="An O.I.D.S.I. IFA Priest of Shango stands in nature holding an iroke">
  </div>