svg {
    margin-top: 5%;
}


.headding {
    fill: #022C70;
    font-family: "Marcellus", serif;
}

path {
    fill: transparent;
}

.primary-img-section, .secondary-img-section {
    max-width: 40%;
    margin: 0 auto;
  }
  
  .primary-img, .secondary-img {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    object-fit:contain;
  }
  
  .primary-img {
    margin-bottom: 20%;
  }
  
  .secondary-img {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  
  .reiki-paragraph {
    color: black;
    background-color: white;
    border: 2px solid #022C70;
    border-radius: 25px;
    padding: 20px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-family: "Lateef", serif;
  }

.footer-img {
  margin: 1%;
}